<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="teacher">
      <ion-icon name="flash"></ion-icon>
      <ion-label>{{"teacher" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="video">
      <ion-icon name="apps"></ion-icon>
      <ion-label>{{"video" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="service">
      <ion-icon name="send"></ion-icon>
      <ion-label>{{"service" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bigevent">
      <ion-icon name="flash"></ion-icon>
      <ion-label>{{"bigevent" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="association">
      <ion-icon name="apps"></ion-icon>
      <ion-label>{{"association" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="send"></ion-icon>
      <ion-label>{{"settings" | translate}}</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
